*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Smooth scrolling effect */
html{
    scroll-behavior: smooth;
}
body{
    background-color: plum;

}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 67px;
    color: white;
    text-align: center;
}
h2{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{

}
h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    font-size: bold;
    text-align: center;
    font-size: 11vw;
}

.bigpic img{
    width: 100%;
    height: auto;
}
.navbar{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar ul{
    text-align: center;
}
.navbar li{
    display: inline-flex;
}
.navbar li a{
    color: white;
    font-size: 28px;
    width: 100px;
    margin: 20px;
}
.navbar li a:hover{
    color: hotpink;
    transition: 0.3s;
}
.navbar button{
    background-color: plum;
    margin-left: 15px;
    border: none;
    text-align: right;
}
.hamburger{
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
    display: none;

}
.dropdownmenu{
    display: none;
    position: absolute;
    right: 2em;
    top: 110px;
    height: 0;
    width: 300px;
    background: rgb(255,255,255, 0.24);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdownmenu.open {
    height: 165px;
}
.dropdownmenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.dropdownmenu li a{
    color: beige;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dropdownmenu li a:hover{
    color: hotpink;
    transition: 0.3s;
}
.button{
    text-align: right;
    height: 35px;

}
.button a{
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-right: 30px;
}
/* Reponsive Media */
@media (max-width: 800px) {
    .navbar{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .dropdownmenu{
        display: block;
    }
}
@media (max-width: 576px){
    .dropdownmenu{
        left: 2rem;
        width: unset;
    }
}
/*
.navbar button a{
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
*/
.grouppic{
    background-image: url('Coldplay_GroupImage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.aboutus{
    text-align: center;
}
.aboutus h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    text-align: center;
    font-size: 27vw;
}
.carousel{
    padding: 2rem;
}
.sliderwrapper{
    position: relative;
    max-width:;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slidernav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slidernav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slidernav a:hover{
    opacity: 1;
}
.grppic{
    background-size: cover;
}
#chrismartin{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#jonnybuckland{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#guyberryman{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#willchampion{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.left{
    padding: 10px;
    justify-content: center;
}
.left img{
    border-radius: 20px;
}
.right{
    padding: 50px;
    text-align: left;
    width: 55%;
}
.right h3{
    color: beige;
}
.right p{
    color: rgb(50, 50, 50);
}
.music h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    font-size: 680px;
    text-align: center;
    font-size: 39vw;
}
.album{
    display: flex;
}
.song{
    display: flex;
}
@media (max-width: 1111px){
    .album{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .song{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
.tour h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    font-size: 900px;
    text-align: center;
    font-size: 51.5vw;
}
.worldmap img{
    width: 100%;
    height: auto;
}
/* Footer */
footer{
    background-color: plum;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons */
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* Reponsive Media */
@media (max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
@media only screen and (max-width: 640px) {
    #chrismartin{
        display: block;
    }
    #jonnybuckland{
        display: block;
    }
    #guyberryman{
        display: block;
    }
    #willchampion{
        display: block;
    }
    .left{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    .right{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}