*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Smooth scrolling effect */
html{
    scroll-behavior: smooth;
}
body{
    background-color: plum;

}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 67px;
    color: white;
    text-align: center;
}
h2{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{

}
.navbar{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar ul{
    text-align: center;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: white;
    font-size: 28px;
    width: 150px;
    margin: 50px;
}
.navbar li a:hover{
    color: hotpink;
    transition: 0.5s;
}
.navbar button{
    background-color: plum;
    margin-left: 15px;
    border: none;
    
}
.navbar button a{
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.grouppic{
    background-image: url('Coldplay_GrroupImage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.aboutus{
    text-align: center;
}
.aboutus h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    font-size: 44em;
}
.grppic{
    background-size: cover;
}
#chrismartin{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#jonnybuckland{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#guyberryman{
    display: flex;
    justify-content: center;
    margin: 100px;
}
#willchampion{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.left{
    padding: 50px;
    justify-content: center;
}
.right{
    padding: 50px;
    text-align: left;
    width: 55%;
}
.right h3{
    color: beige;
}
.right p{
    color: rgb(50, 50, 50);
}
.music h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    font-size: 680px;
    text-align: center;
}
.tour h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: plum;
    color: white;
    font-size: 900px;
    text-align: center;
}
/* Footer */
footer{
    background-color: plum;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
/* Hover Effects on Social Media Icons */
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
opacity: 1;
}
.footerbottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
